*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 500px;
    height: 210px;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 100px;
    padding: 5px;
    position: relative;
}

.container .item-1{
    height: 35px;
    background-color: #e7f1ff;
    line-height: 33px;
    padding: 0 15px;
}

.item-1 .up-arrow{
    position: absolute;
    top: 16px;
    right: 10px;
}
.container .item{
    border-bottom: 1px solid #dadada;
    line-height: 33px;
    padding: 0 15px;
}

.container .item-2{
    height: 35px;
    border-bottom: 1px solid #dadada;
    line-height: 33px;
    padding: 0 15px;
    
}

.container .item-3{
    height: 35px;
    line-height: 33px;
    padding: 0 15px;
    
}

.item-2 .down-arrow{
    position: absolute;
    top: 150px;
    right: 10px;
}

.item-3 .down-arrow{
    position: absolute;
    top: 185px;
    right: 10px;
}