*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    height: 100px;
    background-color: rgb(38, 173, 54);
}
.menu h1{
    text-align: center;
    font-size: larger;
    padding: 20px;
    color: white;
}

.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    text-decoration: underline;
    color: blue;
    font-size: small;
}

.container{
    display: flex;
}

.sidebar{
    background-color: rgb(212, 226, 226);
    width: 300px;
    height: 500px;
    border: 1px solid grey;
    padding: 20px;
    margin: 10px;
}

.sidebar h2{
    font-size: medium;
}


.sidebar ul{
    text-decoration: underline;
    margin-left: 30px;
    font-size: small;
    color: blue;
}

.content{
    width: 1477px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.content h2{
    font-size: medium;
    padding: 10px;
}

.content img{
    padding: 5px;
}

.content p{
    padding: 3px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 50px;
    font-size: small;
}
